* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.button {
    padding: 17px 20px;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.primary {
    background-color: #0c0;;
    color: #fff;
}

.primary:hover {
    background-color: #096A09;
}

.secondary {
    background-color: #6c757d;
    color: #fff;
}

.secondary:hover {
    background-color: #5a6268;
}
.button.large {
    padding: 15px 30px;
    font-size: 18px;
}

.button.small {
    padding: 5px 10px;
    font-size: 14px;
}
